<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Add New Lead</title>

    <!-- jQuery + jQuery UI for datepicker -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"
    />
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/css/add-lead.css" />
  </head>
  <body>
    <main class="main">
      <% if (success) { %>
      <script>
        alert("Form submitted successfully!");
        window.location.href = "/user/add-lead";
      </script>
      <% } %>
      <h2 style="display: inline-block">ADD A NEW LEAD</h2>
      <span class="date-label"><%= new Date().toDateString()%></span>
      <p><%= quote && quote.quote ? quote.quote : "Achieve your target." %></p>
      <p style="margin-top: -25px">
        ~ <%= quote && quote.author ? quote.author : "Bob Hooey" %>
      </p>
      <h3>Customer Information</h3>

      <form action="/user/add-lead" method="post" autocomplete="off">
        <div class="form-row">
          <div class="form-group">
            <label>Title <span class="required">*</span></label>
            <select name="title" required>
              <option>Mr.</option>
              <option>Mrs.</option>
              <option>Miss</option>
            </select>
          </div>
          <div class="form-group">
            <label>First Name <span class="required">*</span></label>
            <input
              type="text"
              placeholder="First Name"
              name="firstName"
              required
            />
          </div>
          <div class="form-group">
            <label>Middle Name</label>
            <input type="text" placeholder="Middle Name" name="middleName" />
          </div>
          <div class="form-group">
            <label>Last Name <span class="required">*</span></label>
            <input
              type="text"
              placeholder="Last Name"
              name="lastName"
              required
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>Centre <span class="required">*</span></label>
            <input
              type="text"
              placeholder="Centre"
              name="centre"
              required
              value="001"
            />
          </div>
          <div class="form-group" style="width: 74%">
            <label>Address</label>
            <textarea placeholder="Address" name="address"></textarea>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>City</label>
            <input type="text" placeholder="West Bridgford" name="city" />
          </div>
          <div class="form-group">
            <label>County</label>
            <input type="text" placeholder="Nottinghamshire" name="county" />
          </div>
          <div class="form-group">
            <label>Post Code <span class="required">*</span></label>
            <input type="text" placeholder="700001" name="pincode" required />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="********" name="password" />
          </div>
          <div class="form-group">
            <label>Date of Birth</label>
            <input
              type="date"
              class="datepicker"
              placeholder="yyyy-mm-dd"
              name="dateOfBirth"
            />
          </div>
          <div class="form-group">
            <label>Phone Number <span class="required">*</span></label>
            <input
              type="tel"
              maxlength="10"
              placeholder="(033) 2347 9645"
              name="phone"
              required
            />
          </div>
          <div class="form-group">
            <label>Power Of Attorney</label>
            <select name="poa" required>
              <option selected disabled>Select Yes/No.</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>

        <!-- Customer Plan and Product Details -->
        <h3>Customer Plan and Product Details</h3>
        <div class="form-section">
          <div class="form-row">
            <div class="form-group">
              <label>Select Process</label>
              <select name="process" required id="process">
                <option selected disabled>Select a Process</option>
                <% process.forEach(function(item){%>
                <option value="<%= item.id%>" style="text-transform: uppercase">
                  <%= item.name %>
                </option>
                <%}) %>
              </select>
            </div>

            <div class="form-group">
              <label>Plan</label>
              <select name="plan" required id="plan">
                <option selected disabled>Select a Plan</option>
              </select>
            </div>

            <div class="form-group">
              <label>Closer</label>
              <select name="closer" required>
                <option selected disabled>Select a Closer</option>
                <% users.forEach(function(item){%>
                <option value="<%= item.id%>" style="text-transform: uppercase">
                  <%= item.alias %>
                </option>
                <%}) %>
              </select>
            </div>

            <div class="form-group">
              <label>Verifier</label>
              <select name="verifier" required>
                <option selected disabled>Select a Verifier</option>
                <% users.forEach(function(item){%>
                <option value="<%= item.id%>" style="text-transform: uppercase">
                  <%= item.alias %>
                </option>
                <%}) %>
              </select>
            </div>
          </div>

          <!-- APPLIANCE DETAILS (Hidden Initially) -->
          <div id="appliance-details">
            <div class="header">
              <h3>Appliance Details</h3>
              <button type="button" id="addField" class="btn add-btn">
                + Add More Fields
              </button>
            </div>
            <div id="appliance-section">
              <div class="form-section">
                <div class="form-group-4">
                  <label for="applianceName">Appliance Name</label>
                  <input
                    type="text"
                    required
                    placeholder="Washing Machine"
                    name="applianceName[]"
                    id="applianceName"
                  />
                </div>
                <div class="form-group-4">
                  <label for="makeOfAppliance">Make Of Appliance</label>
                  <input
                    type="text"
                    required
                    placeholder=""
                    name="makeOfAppliance[]"
                    id="makeOfAppliance"
                  />
                </div>
                <div class="form-group-4">
                  <label for="age">Age</label>
                  <input
                    id="age"
                    required
                    type="number"
                    placeholder="10"
                    name="ageOfAppliance[]"
                  />
                </div>
                <button type="button" id="addField" class="btn remove-btn">
                  - Remove Fields
                </button>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group" style="width: 48%">
              <label>Select Payment Method</label>
              <select id="payment-method" name="paymentMethod" required>
                <option selected disabled>Select a Payment Method</option>
                <option value="cash">Cash / Cheque</option>
                <option value="directDebit">Direct Debit (DD)</option>
                <option value="card">Card</option>
              </select>
            </div>

            <div class="form-group" style="width: 48%">
              <label>Shift</label>
              <select name="shift">
                <option selected value="UK">UNITED KINGDOM (UK)</option>
                <option value="US">UNITED STATES OF AMERICA (USA)</option>
                <option value="AUS">AUSTRALIA (AUS)</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Bank Account Details (Hidden Initially) -->
        <div id="bank-details">
          <h3>Bank Account Details</h3>
          <div class="form-section">
            <div class="form-group">
              <label>Bank Name</label>
              <input type="text" placeholder="Bank of UK" name="bankName" />
            </div>
            <div class="form-group">
              <label>Account Name</label>
              <input
                type="text"
                placeholder="Steve Balmer"
                name="accountName"
              />
            </div>
            <div class="form-group">
              <label>Account Number</label>
              <input
                id="accountNumber"
                type="text"
                maxlength="9"
                placeholder="3192 6819"
                name="accountNumber"
              />
            </div>
            <div class="form-group">
              <label>SORT Code</label>
              <input
                id="sort"
                type="tel"
                maxlength="8"
                placeholder="60 16 13"
                name="sort"
              />
            </div>
          </div>
        </div>
        <!-- Credit / Debit Details (Hidden Initially) -->
        <div id="card-details">
          <h3>Credit / Debit Card Details</h3>
          <div class="card-form-section">
            <div class="card-form-group">
              <label>Name On Card</label>
              <input type="text" placeholder="Steve Balmer" name="cardName" />
            </div>
            <div class="card-form-group">
              <label>Bank Name</label>
              <input type="text" placeholder="Bank Of UK" name="cardBankName" />
            </div>
            <div class="card-form-group">
              <label>Card Number</label>
              <input
                id="ccnum"
                type="text"
                placeholder="4242 4242 4242 4242"
                name="cardNumber"
              />
              <span id="errorMsg" style="color: red; font-size: 13px"></span>
              <span id="cardType" style="color: red; font-size: 13px"></span>
            </div>
            <div class="card-form-group">
              <label>Card Expiry</label>
              <input
                type="text"
                placeholder="05 / 30"
                name="expiry"
                id="expiry"
              />
              <span id="expiry-errorMsg" style="font-size: 13px"></span>
            </div>
            <div class="card-form-group">
              <label>Card CVV</label>
              <input
                type="text"
                maxlength="3"
                placeholder="123"
                name="cardCvv"
              />
            </div>
          </div>
        </div>

        <div class="form-group" style="width: 100%">
          <label>Comment</label>
          <textarea name="comment" placeholder="Comments if any."></textarea>
        </div>
        <button class="btn btn-blue">SUBMIT</button>
      </form>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.4.1/jquery.payment.min.js"></script>

    <script>
      $(function () {
        $(".datepicker").datepicker({
          dateFormat: "yy-mm-dd",
          changeMonth: true,
          changeYear: true,
          yearRange: "1940:2007",
        });
      });

      $("#bank-details").slideUp(); // hide if not bank
      $("#card-details").slideUp(); // hide if not bank
      $("#appliance-details").slideUp();

      $(document).ready(function () {
        $("#payment-method").change(function () {
          var method = $(this).val();
          if (method === "directDebit") {
            $("#bank-details").slideDown(); // show with animation
          } else {
            $("#bank-details").slideUp(); // hide if not bank
          }
        });
      });

      $(document).ready(function () {
        $("#payment-method").change(function () {
          var method = $(this).val();
          if (method === "card") {
            $("#card-details").slideDown(); // show with animation
          } else {
            $("#card-details").slideUp(); // hide if not bank
          }
        });
      });

      var $cardInput = $("#ccnum");
      var $type = $("#cardType");
      var $expiryInput = $("#expiry");

      $expiryInput.payment("formatCardExpiry");
      $cardInput.payment("formatCardNumber");

      $cardInput.on("keyup input", function () {
        var number = $cardInput.val();
        var type = $.payment.cardType(number);

        if ($.payment.validateCardNumber(number)) {
          $("#errorMsg").text("✅ Valid Card").css("color", "green");
          if (type) {
            $type.text("- " + type.toUpperCase()).css("color", "green");
          } else {
            $type.text("Unknown card type");
          }
        } else {
          $type.text("");
          $("#errorMsg").text("❌ Invalid Card").css("color", "red");
        }
      });

      $expiryInput.on("keyup input", function () {
        var expiry = $.payment.cardExpiryVal($expiryInput.val());
        if ($.payment.validateCardExpiry(expiry.month, expiry.year)) {
          $("#expiry-errorMsg").text("✅ Valid Expiry").css("color", "green");
        } else {
          $("#expiry-errorMsg").text("❌ Invalid Expiry").css("color", "red");
        }
      });

      $("input.expiry").payment("formatCardExpiry");

      // FORMAT ACCOUNT NUMBER
      var input = document.getElementById("accountNumber");
      function formatAccount(val) {
        // remove non-digits
        val = val.replace(/\D/g, "");
        // insert space every 4 digits
        return val.replace(/(.{4})/g, "$1 ").trim();
      }

      input.onkeyup = function () {
        input.value = formatAccount(input.value);
      };

      input.onblur = function () {
        input.value = formatAccount(input.value);
      };

      // FORMAT SORT
      var sortInput = document.getElementById("sort");
      function formatSort(val) {
        // remove non-digits
        val = val.replace(/\D/g, "");
        // insert space every 4 digits
        return val.replace(/(.{2})/g, "$1 ").trim();
      }

      sortInput.onkeyup = function () {
        sortInput.value = formatSort(sortInput.value);
      };

      sortInput.onblur = function () {
        sortInput.value = formatSort(sortInput.value);
      };

      var processSelect = document.querySelector("#process");
      var planSelect = document.querySelector("#plan");

      var plan= <%- JSON.stringify(plan)%>;

      processSelect.addEventListener("change", function () {
          var value = this.value
          var filteredPlan = []
          planSelect.innerHTML= "<option selected disabled>Select a Plan</option>"
         filteredPlan = plan.filter(function(item){
          return item.processId===+value
        })

        if(filteredPlan && filteredPlan.length>0){
          filteredPlan.forEach(function(plan) {
           var opt = document.createElement("option");
          opt.value = plan.id;
          opt.text = plan.name;
          planSelect.appendChild(opt);
          })
        }})
        
        // LOGIC FOR ADD APPLICANCE
         $(document).ready(function () {
        $("#process").change(function () {
          var value = $(this).val();
          console.log(value)
          if (+value !== 7) {
            $("#appliance-details").slideDown(); // show with animation
          } else {
            $("#appliance-details").slideUp(); // hide if not bank
          }
        });
      });

       // Add new input field dynamically
      $("#addField").click(function () {
        var newField =
          '<div class="form-section">' +
          '<div class="form-group-4">' +
            '<label for="applianceName">Appliance Name</label>' +
            '<input type="text" required placeholder="Washing Machine" name="applianceName[]" />' +
          '</div>' +
          '<div class="form-group-4">' +
            '<label for="makeOfAppliance">Make Of Appliance</label>' +
            '<input type="text" required name="makeOfAppliance[]" />' +
          '</div>' +
          '<div class="form-group-4">' +
            '<label for="age">Age</label>' +
            '<input type="number" required placeholder="10" name="ageOfAppliance[]" />' +
          '</div>' +
          '<button type="button" class="btn remove-btn">- Remove Fields</button>' +
        '</div>';


        $("#appliance-section").append(newField);
      });

       // Remove section on click
      $("#appliance-section").on("click", ".remove-btn", function () {
        $(this).closest(".form-section").remove();
        //  $(this).parent(".form-section").remove();
      });
 
    </script>
  </body>
</html>
